/*common*/
body{
      padding:0;
      margin:0;
}
a, a:hover{
      text-decoration:none;
}
.mt-20px{
      margin-top:20px;
}
.border{
      border-right: 1px solid rgba(223, 199, 199, 0.4);
}
.btn-green{
      display: inline-block;
      text-transform:capitalize;
      font-size: 16px;
      font-weight: 900;
      color: #72cab0;
      padding:10px 30px;
      border-radius:2px;
      position:relative;
      border: 1px solid #01ca8a8f;
      box-shadow: 0 0 0 4em #01ca8a8f inset;
      transition: all 350ms ease;
}
.btn-green i{
      margin-right: 6px;
}
.btn-green:hover{
      box-shadow: 0 0 0 0 #01ca8b inset;
      background: #8b8484;
      color: #01ca8b;
}
.btn-trensparent{
      border: 1px solid #b3a8a8;
}
/*Header*/
header{
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      border-bottom: 1px solid #6e1e1e;
      background: #ebdfdf65;
}
.header-active{
      position: fixed;
      background: #4444a7; 
      z-index:1;
      top:0;
      animation-name: example;
      animation-duration: 0.8s;
}
@keyframes example{
      from{top:-200px;}
      to{top:0;}
}
.logo{
      display:inline-block;
      padding-right:30px;
}
.manu{
      display:inline-block;
}
.menu ul{
      padding: 0;
      margin:0;
}
.menu ul li{
      display: inline-block;
      list-style-type:none;
      margin: 0 20px;
}
.menu ul li a{
      color: #8d4040;
      text-transform: capitalize;
      font-weight:900;
      font-size: 14px;
      letter-spacing:1px;
      position: relative;
}
.menu ul li a::before{
      content: '';
      position: absolute;
      background: #a58181;
      width: 0;
      height: 2px;
      bottom: -5px;
      left: 0;
      transition: 0.2s ease-in-out;      
}
.menu ul li a:hover::before{
      width: 100%
}
.header-social{
      margin-top: 21px;
}
.header-social ul{
      margin: 0;
      padding: 0;
}
.header-social ul li{
      list-style-type: none;
      display: inline-block;
      margin: 0 10px;
}
.header-social ul li a{
      color:#8b7979;
      background: rgb(255 255 255 / 0.22);
      width: 41px;
      height: 41px;
      border-radius: 50%;
      display: inline-block;
      position: relative;
}
.header-social ul li a i{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      display: inline-block;
      font-size: 16px;
      transition: 0.2s ease-in-out;
}
.header-social ul li a:hoveri{
      color:#01ca8b;
}
/*Banner*/
.banner{
      background-position: 200% 0%;
      background-size: full cover;
      background-repeat: no-repeat;
      padding: 16em 0 14em 0;
      box-shadow:-5px -px 30px 5px #4186b4 5px 5px 30px 5px #1f4b68;
}
.banner.content{
      width:100%;
}
.banner-content h1{
      color: #634a4a;
      font-size: 80px;
      font-weight: 10px;
      margin-top: 5px;
      line-height:10px;
}
.service{
      border-radius: 10px;
      background: #ffffff45;
      border: 1px solid #dfdfdf94;
      margin-top: 100px;
}
.service a {
      display: inline-block;
      width: 33%;
      color: #c95656;
      font-size: 22px;
      font-weight: 800;
      border-right: 1px solid #805353;
      padding: 34px 20px;
      margin: 0 -2px;
      height: 180px;
      vertical-align: top;
}
.service a:last-child{
      border-right: none;
      background-image: url(../image/card.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10ox;
      width: 34.2%;
}
.service-content{
      width: calc(100%-47px);
      display: inline-block;
      vertical-align: middle;
      position: relative;
}
.service-content::before{
      content: '';
      position: absolute;
      left: 0;
      bottom: -5px;
      background: #444242;
      height: 20px;
      width: 0;
      transition: o.2s ease-in-out;
}
.service-content:hover::before{
      width: 50%;

}
.service-btn{
      width: 40px;
      display: inline-block;
      height: 40px;
      background: #ffffff45;
      vertical-align:middle;
}
.service-btn i{
      position: absolute;
      top:50%;
      left: 50%;
      transform: translate(-50%,-50%);
      transition: 0.2a ease-in-out;
}
.service a:hover .service-btn i{
      transform: rotate(-40deg);
      top: 26%;
      left: 32%;
}
.service-icon{
      font-size: 40px;
      margin-right: 22px;
}
.call{
      display: 40px;
      vertical-align:middle;
}
.call-number{
      width: calc(100%-54%);
      display: inline-block;
      vertical-align: middle;
}
.call-number p{
      font-size: 14px;
      text-transform: uppercase;
}
.call-number h3{
      margin: 0;
      font-weight: 600;
      letter-spacing: 1px;
}